input[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #000;
    line-height: 0;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 60px;
    color: #000;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    align-self:center;
    margin-right: 20px;
  }
input[type="text"]:focus {
    outline: none;
    background:#7B96B4 ;
    color: white;
    border: none;

  }
input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }

  
input[type="text"]:valid ~ label {
    text-transform: uppercase;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }

input[type="text"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }

  input[type="password"] {
    appearance: none;
    background-color: none;
    border: 1px solid #000;
    line-height: 0;
    font-size: 17px;
    padding: 10px 15px;
    border-radius: 60px;
    color: #000;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    align-self:center;
    margin-right: 20px;
  }
input[type="password"]:focus {
    outline: none;
    background: #7B96B4;
    color: white;
    margin-top: 30px;
    border: none;
  }
input[type="password"]:valid {
    margin-top: 30px;
  }
input[type="password"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
input[type="password"]:valid ~ label {
    text-transform: uppercase;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }

  form button {
    margin-top: 0px;
    background-color: white;
    border: 1px solid #000;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;

    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }

  form button:hover, form button:focus {
    color: white;
    background-color: #7B96B4;
    border: 1px solid #7B96B4 ;
  }
  
  select {
    cursor: pointer;
    position : relative;
    max-width:  20em;
    margin: 20px auto;
    width: 100%;
    background: #CDE3F1;
    width: 30%;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
  }
  select:focus{
    outline: none;
    background: #CDE3F1;
  }

  option{
      background-color: #fff;
      height: 40px;
      
  }

  input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
    padding-top: 40px;
    margin-right: .5px;
    border-radius: 10px;
  }
  input[type=number]{
    position : relative;
    max-width:  20em;
    margin: 20px auto;
    width: 100%;
    background: #CDE3F1;
    width: 30%;
    border: none;
    height: 40px;
    border-radius: 20px;
    padding-left: 10px;
    outline: none;
  }