h1{
    color: #fff;
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

fieldset{
    text-align: center;
}
img{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px ;
  
}
.loginfield {
    border: none;
}
.transition, form button, form .question label, form .question input[type="text"] {
    -moz-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -o-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    -webkit-transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
    transition: all 0.25s cubic-bezier(0.53, 0.01, 0.35, 1.5);
  }

  .content{
    display: flex;
    max-width: 500px;
    justify-content: center;
    align-items: center;
    padding: 24px 12px;
    margin: 0px auto;
    border-radius: 20px 20px 20px 20px;
    background: white;
}

 
 
  form .enterbtn {
    margin-top: 35px;
    background-color: white;
    border: 1px solid #000;
    line-height: 0;
    font-size: 17px;
    display: inline-block;
    box-sizing: border-box;
    padding: 20px 15px;
    border-radius: 60px;
    color: black;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
    box-shadow: none;
  }

  form .enterbtn:hover, form .enterbtn:focus {
    color: white;
    background-color: #7B96B4;
    border: none;
  }
  form .question {
    position: relative;
    padding: 10px 0;
  }
  form .question:first-of-type {
    padding-top: 0;
  }
  form .question:last-of-type {
    padding-bottom: 0;
  }
  form .question label {
    transform-origin: left center;
    color: #000;
    font-weight: 700;
    letter-spacing: 0.01em;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;

  }
  form .question input[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #000;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #000;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
  form .question input[type="text"]:focus {
    outline: none;
    background:#7B96B4 ;
    color: white;
    margin-top: 30px;
    border: none;

  }
  form .question input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
  form .question input[type="text"]:valid {
    margin-top: 30px;
  }
  
  .question input[type="text"]:valid ~ label {
    text-transform: uppercase;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }
  

  form .question input[type="password"] {
    appearance: none;
    background-color: none;
    border: 1px solid #000;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #000;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
  }
  form .question input[type="password"]:focus {
    outline: none;
    background: #7B96B4;
    color: white;
    margin-top: 30px;
    border: none;
  }
  form .question input[type="password"]:valid {
    margin-top: 30px;
  }
  form .question input[type="password"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
  }
   .question input[type="password"]:valid ~ label {
    text-transform: uppercase;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
  }

 
 

  
  /* .subname {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}
.subpass {
    font-size: 24px;
    text-decoration: none;
    color: #fff;
} */

/* .loginform{
    border: none;
} */




/*index html css*/
/* .loginText{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 40px;
    text-align: center;
} */
/* .box{
    background: white;
    max-width: 900px;
    height: 400px;
    margin: auto;
    margin-top: 80px;
    padding:  20px 30px;
    border-radius: 20px 20px 20px 20px; */
    

/* .subname {
    font-size: 24px;
    text-decoration: none;
    color: #000;
}
.subpass {
    font-size: 24px;
    text-decoration: none;
    color: #000;
}

.inputRcorner{
    border-radius: 50px;
    border-color: #000;
    height: 45px;
    width: 300px;
    margin: 5px;
}
::placeholder{
    font-size: 20px;
    text-align: left;
    
} */

/* .enterbtn{
    display: inline-flex;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 50px;
} */


