.content{
    margin-top: 100px;
}
h1{
    margin-top: 100px;
}
.button1 {
    display: inline-flex;
    padding: 15px 25px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px #999;
    width: 32%;
    justify-content:  center;
}
.button1:active{
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.button2 {
    display: inline-flex;
    padding: 15px 25px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FF3333;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px #999;
    width: 32%;
    justify-content:  center;
}
.button2:active{
    background-color: #FE0000;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.button3 {
    display: inline-flex;
    padding: 15px 25px;
    font-size: 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#FFBF00;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px #999;
    width: 33%;
    justify-content:  center;
}
.button3:active{
    background-color:#FFBF00;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}



@media (min-width: 320px) and (max-width: 480px) {
    .content{
        background-color: white;
    }
    .button1{
        font-size: 24px;
        width: 100%;
        justify-content:  center;
        margin-bottom: 20px;
    }
    .button2{
        font-size: 24px;
        width: 100%;
        justify-content:  center;
        margin-bottom: 20px;
    }
    .button3{
        font-size: 24px;
        width: 100%;
        justify-content:  center;
        margin-bottom: 20px;
    }
}