body {
    background: #7B96B4;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    /*
        #eab0dc
    */
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

.content{
    background: white;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 20px 20px 20px 20px;
}

 

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    padding-bottom: 50px;
    background: white;
    font-size: 20px;
    color: black;
    position: relative;
    border: .5px solid #e6e6e6;
    height: 46px;
}

li:nth-child(even){
    padding: 20px;
    padding-bottom: 50px;
    background: white;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 24px;
    margin-top: 6px;
    color: #999;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}




