body {
    background: #7B96B4;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
    /*
        #eab0dc
    */
}

h1{
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
}

.content{
    background: white;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 20px 20px 20px 20px;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    padding: 20px;
    padding-bottom: 50px;
    background: white;
    font-size: 20px;
    color: black;
    position: relative;
    border: .5px solid #e6e6e6;
    height: 46px;
}

li:nth-child(even){
    padding: 20px;
    padding-bottom: 50px;
    background: white;
}

li span{
    display: block;
}

li span:nth-child(2){
    font-size: 16px;
    margin-top: 6px;
    color: #999;
}

li div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}




.button1 {
    display: inline-flex;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px #999;
}
.button1:active{
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.button2 {
    display: inline-flex;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #FF3333;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px #999;
}
.button2:active{
    background-color: #FE0000;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}

.button3 {
    display: inline-flex;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color:#FFBF00;
    border: none;
    border-radius: 12px;
    box-shadow: 0 5px #999;
}
.button3:active{
    background-color:#FFBF00;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}



